*{
  box-sizing: border-box;
}

body {
  background: #FFF0CF;
}
header{
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

h1{
  font-size: 70px;
  font-family: 'Baloo Bhaijaan', cursive;
  color: #CB9D37;
}
main{

  max-width: 80%;
  border-left: 1px solid #C36E02;
  border-right: 1px solid #C36E02;
  margin: 0 auto;
  background-color: white;
  height: 450px;
  padding: 10px;

}
.game{
max-width: 424px;
border: 1px solid #C36E02;
overflow: hidden;
padding: 10px;
}

.sideBoard{

}


.pix {
display: block;
float:left;
width: 10px;
height:10px;
background-color: #FFF7E0;


}

.head {

  background-color:black;
}

.food{
color: black;
font-size: 10px;
overflow: visible;

}
